<div class="article-list-page-card {{ fields.field_category.content }}">
  <div class="article-list-page-card-type">{{ fields.field_sub_category.content }}</div>
  <div class="article-list-page-card-image" style="--background: url({{ fields.field_image.content }});"></div>
  <div class="article-list-page-card-content">
    <h4 class="article-list-page-card-title">{{ fields.title.content }}</h4>
    <div class="article-list-page-card-sub-title">{{ fields.field_subtitle.content }}</div>
    <div class="article-list-page-category">{{ fields.field_category.content }}</div>
    <div class="article-list-page-card-button">
      {{ fields.view_node.content }}
    </div>
  </div>
</div>