<div class="slider-item {{ fields.field_category.content }}">
    <div class="container">
        <div class="row flex-reverse-mob">
            <div class="col-md-6">
                <div class="slider-caption">
                    <div class="caption-desc">
                        <h2 class="slider-title">{{ fields.title.content }}</h2>
                        <h3 class="slider-sub-title">{{ fields.field_subtitle.content }}</h3>
                    </div>
                    <div class="caption-button white-btn">{{ fields.field_read_more.content }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="slider-item-image" style="--background: url({{ fields.field_image.content }});">
                </div>
            </div>
        </div>
    </div>
</div>